body {
  background-color: #aaa;
}

.token {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 2px;
  padding: 4px 8px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.token:hover {
  background-color: #ddffff;
}

.latent {
  background-color: #ddd;
}

.hilited {
  background-color: #cfffff;
}

.sigbutton {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 4px;
  padding: 4px 8px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.active {
  border-color: #444;
  background-color: #ffdd00;
}

.active.hilited {
  background-color: #effd40;
}

.active:hover {
  background-color: #ffdd00;
}

.sigcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ctlcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="range"] {
  /* removing default appearance */
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  height: 10px;
  background: #ccc;

}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  background: #fff;
  border-radius: 15px;
  width: 15px;
}

input[type="range"]::-moz-range-progress {
  background-color: #ffdd00;
  height: 10px;
  border-radius: 15px;
}
