.token {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 2px;
  padding: 4px 8px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.token:hover {
  background-color: #ddffff;
}

.active, .active:hover {
  border-color: #444;
  background-color: #ffdd00;
}

.token.hilited {
  background-color: #cfffff;
}

.sigbutton {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 4px;
  padding: 4px 8px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.sigcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.ctlbutton {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 4px;
  padding: 4px 8px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.ctlcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
